<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<system.windows.forms jitDebugging="true" />
	<appSettings>	
		<add key="ConnString" value="server=192.168.0.1;uid=sa;pwd=;database=lxdb"></add>	
		<add key="Department" value=""></add>
		<add key="Place" value=""></add>
	</appSettings>
</configuration>