<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="Data Source=.;Initial Catalog=lx_rain_s1;Integrated Security=false;uid=sa;pwd=sa"/>
    <add key="RemoteIP" value="127.0.0.1"/>
    <add key="RemotePort" value="6000"/>
    <add key="ConnectionInterval" value="5"/>
  </appSettings>
</configuration>