<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.windows.forms jitDebugging="true" />
  <appSettings>
    <!--<add key="IP" value="10.27.190.39"></add>-->
    <add key="IP" value="192.168.8.2"></add>
    <!--<add key="IP" value="192.168.1.31"></add>-->
    <add key="Port" value="5000"></add>
    <add key="ConnString" value="server=ibm;uid=sa;pwd=;database=lxdb"></add>

    <add key ="hasNewGate" value="true"/>
    <add key="db2" value="server=ibm;uid=sa;pwd=;database=lxsydb"/>

    <add key="UserName" value="power"></add>
    <add key="SoundFile" value="c:\WINDOWS\Media\Windows XP 启动.wav"></add>
    <add key="showcmdmsgbox" value="true"></add>
    <add key="showcmdcontent" value="true"></add>
    <add key="sort" value="false"></add>

  </appSettings>
</configuration>